body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
.name{
    font-family:"Times new roman";
    
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}
header h1 {
    margin: 0;
}
.profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid black;
}
.section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer {
    background: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}
.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}
.bold {
   font-weight: bold;
}
